<nav class="sidebar">
    <div class="brand-block">
        <div class="top-lines">
            <span></span>
            <span></span>
        </div>
        <h1 class="logo">LoanWisely Admin</h1>
    </div>
    <ul>
        <li><a href="/management/policies/">정책</a></li>
        <li><a href="/management/policies/new">정책 등록</a></li>
        <li><a href="/management/metadata/credit/">Credit 메타</a></li>
        <li><a href="/management/metadata/financial/">Financial 메타</a></li>
        <li><a href="/management/approvals/">승인</a></li>
        <li><a href="/management/audits/">감사</a></li>
        <li><a href="/management/recommendations/">추천 상세</a></li>
        <li><a href="/management/recommendations/es-search">추천 이력 필터 조회</a></li>
        <li><a href="/management/recommendations/event-logs">추천 이벤트 로그</a></li>
        <li><a href="/management/recommendations/reject-logs">추천 거절 로그</a></li>
        <li><a href="/management/recommendations/exclusion-reasons">추천 제외 사유</a></li>
        <li><a href="/management/raw-files/">원천 파일</a></li>
        <li><a href="/management/raw-files/upload">원천 파일 업로드</a></li>
        <li><a href="/management/auth/logout">로그아웃</a></li>
    </ul>
</nav>

